server:
  port: 8300

#Oracle Connect
spring:
  datasource:
    driver-class-name: oracle.jdbc.driver.OracleDriver
    url: jdbc:oracle:thin:@172.30.1.43:1521/xe
    username: gb2023501
    password: tiger
    
  
  #File Size
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  
    
  #JPA Setting
  jpa:
    show-sql: true

    #Operation -> Create / None
    hibernate:
      ddl-auto: none
  
  #View Resolver      
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp
      
  #Gmail Transfer
  mail:
    host: smtp.gmail.com
    port: 587
    username: alphago5012@gmail.com #메일 주소
    password: cvcp hxkj omoz ltbs   #메일 비번
    properties: 
      mail: 
        smtp: 
          auth: true            #메일 주소 검증
          starttls.enable: true #암호화
        
#Mybatis
mybatis:           #classpath : resources를 의미
  config-location: classpath:configuration.xml
  mapper-locations: classpath:mapper/**/*.xml
  
logging.level:
  org.hibernate.SQL: debug   # logger를 통해 하이버네이트 실행 SQL